[submodule "openmaptiles"]
	path = openmaptiles
	url = https://github.com/Qwant/openmaptiles
[submodule "import_data/postgis-vt-util"]
	path = import_data/postgis-vt-util
	url = https://github.com/mapbox/postgis-vt-util.git
[submodule "import_data/openmaptiles-tools"]
	path = import_data/openmaptiles-tools
	url = https://github.com/openmaptiles/openmaptiles-tools.git