version: '3'

services:
  postgres:
    image: openmaptiles/postgis
    volumes:
      - "pgdata:/var/lib/postgresql/data"
    environment:
     - POSTGRES_DB=gis
     - POSTGRES_USER=gis

  cassandra:
    image: cassandra:latest
    volumes:
     - "cassandra_data:/var/lib/cassandra"

  tilerator:
    build: ./tilerator
    depends_on:
      - cassandra
      - postgres
      - redis
    environment:
      - TILERATOR_MODE=api # This service will not process tiles
    volumes:
      - update_tiles_data:/data/update_tiles_data

  tilerator-worker:
    build: ./tilerator
    environment:
      - TILERATOR_NUM_WORKERS=ncpu # Number of workers (or ncpu by default)
    depends_on:
      - cassandra
      - postgres
      - redis

  redis:
    image: redis:latest
    command: redis-server --appendonly yes # to enable persistence
    volumes:
      - "redisdata:/data"

  load_db:
    build: ./load_db
    environment:
      - INVOKE_CONFIG_FILE=config.yml
    volumes:
      - input_data:/data/input
      - imposm_generated_data:/data/generated
      - update_tiles_data:/data/update_tiles_data
    depends_on:
      - postgres

  kartotherian:
    build: ./kartotherian

  statsd-exporter:
    image: prom/statsd-exporter
    ports:
      - 9102:9102
      - 9125/udp
    
  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090

volumes:
  pgdata:
  cassandra_data:
  redisdata:
  input_data:
  imposm_generated_data:
  update_tiles_data:
