[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
invoke = "*"
jinja2 = "*"
requests = ">=2.20.0"
openmaptiles-tools = ">=0.9.2"
psycopg2 = "*"
osmium = "*"

[requires]
python_version = "3.9"
